/* Caricamento font */

@font-face
{
  font-family: lausanne;
  src:url(lausanne.otf)
}


@font-face
{
  font-family: boldd;
  src:url(boldd.otf)
}


@font-face
{
  font-family: ital;
  src:url(ital.otf)
}



@font-face
{
  font-family: regu;
  src:url(regu.otf)
}


#indent {
  text-indent: 7.1vw;
}


/*COLUMN*/

.wrapper {
font-family: regu;
line-height: 1.25;
font-size: 15px;
margin-left: 25px;
margin-right: 25px;


}

.columns {
  position: relative;
	display: flex;
}

.column {
	flex: 1;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

.one {
  padding-right: 25px;

}

.two {
  padding-right: 25px;
}

@media screen and (max-width: 980px) {
  .columns .column {
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 650px) {
.columns .column  {
display: none;
	}
}

/*COLUMN*/

/* Set body and html --> QUI SI DEFINISCE FONT-FAMILY DEL MANIFESTO */

html, body {
  position:fixed;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background:#fff;
  font-family: lausanne;
  font-size:3.5vw;
  line-height: 1.25;
  overflow-y:auto;
  height:100vh;
  width:100vw;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: crosshair;
}


/* BREAKPOINT --> QUI SI DEFINISCE FONT-FAMILY DEL MANIFESTO QUANDO SI FA RESIZE*/
@media screen and (max-width: 650px) {
html, body {
    font-size: 5vw;
  }
}


 /*versione desktop*/
#text {
  z-index:100;
  position:relative;
  mix-blend-mode:difference;
  color:#fff;
  padding: 100px 25px 250px 25px;
}

 /*versione mobile*/
@media screen and (max-width: 650px) {
#text {
    padding: 25px 12.5px 50px 12.5px;
  }
}


/*inizio lettering */

  /* GESTIONE DEI DUE LETTERING: LA WIDTH DEVE ESSERE DATA DALLA SOMMA DELLE DUE LARGHEZZE E DALLO SPAZIO PERCORSO DURANTE IL TRASLATE (QUINDI 460 DERIVA
  DA 210+210+20+20). I VENTI DERIVANO DA 230 - 210 CHE CORRISPONDE ALLA LARGHEZZA DI CIASCUN
  LETTERING*/

#marquee-background-lettering
{ z-index:50;
  position:fixed;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow:hidden;
  pointer-events:none;
  mix-blend-mode: difference;
  margin-top: 1.2vh;

  width:460vh;
  -webkit-animation:marquee-like 16s linear 1s infinite;
  animation:marquee-like 16s linear 1s infinite}


/* HO SETTATO DUE BACKGROUND Lettering AFFINCHé SI POSSA GESTIRE IL MARGINE CHE INTERCORRE TRA I DUE*/
  .background-lettering
  {
    width:210vh;
    padding-right: -200vh;
    margin-right: 20vh;
    text-align:center;
    float:left;
    fill:#fff;
  }

  .background-lettering2
  {
    width:210vh;
    padding-right: -200vh;
    margin-left: 0vh;
    text-align:center;
    float:left;
    fill:#fff;
  }
    @-webkit-keyframes marquee-like{0%{transform:translateX(0)}to{transform:translateX(-230vh)}}
    @keyframes marquee-like{0%{transform:translateX(0)}to{transform:translateX(-230vh)}}


/*inizio dizionario versione desktop con sistema multicolonna*/
#marquee {
  font-size: 30px;
  font-family:ital;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  opacity: 0;
  bottom: 0px;
  position: fixed;
  margin-bottom: 29px;
  left: 0;
  margin-left: 100px;
  overflow: hidden;
  white-space: nowrap;
}


.wrapper {
  display: none;
}

/*questi sono il contenitore e il rispettivo dizionario della parte
mobile che mi servono in display none durante la versione mobile*/
.mega {
display: none;
    }

.about {
  display: none;
}


    @media screen and (max-width: 650px) {
    .mega {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(255,255,255);
    }

    .about {
      font-family: regu;
      font-size: 5vw;
      background-color: rgb(255, 255, 255);
      cursor: crosshair;
      display: block;
      padding-left: 12.5px;
      padding-right: 12.5px;
      padding-top: 25px;
      padding-bottom: 50px;
    }
    }


/*setto le formattazioni per il dizionario in versione mobile */
    #first {
      font-family: boldd;
    }

    #second {
      font-family: ital;
    }

/*contenitore bottone*/

    .containerbutton {
      border-radius: 30px;
      height: 40px;
      width: 80px;
      text-align: center;
      background-color: rgb(250, 250, 250);
      display: inline-block;
      box-shadow: 0 0 10px #000000;
      position: fixed;
      bottom: 0px;
      right: 0px;
      margin-right: 25px;
      margin-bottom: 25px;
      cursor: crosshair;
      z-index: 120;
    }



    /*gestione del bottone pel --> la è per laica e lau è per losanna*/
        #button--pel {
        user-select: none;
        z-index: 120;
        }

        .la {
          font-family: ital;
          font-size: 24px;
          user-select: none;
          line-height: 40px;
          vertical-align: center;
          text-align: center;

        }

        .lau {
          font-size: 23px;
          line-height: 40px;
          font-family: lausanne;
          user-select: none;
          vertical-align: center;
          margin-top: 2px;


        }



    /*CLASSI CHE UTILIZZO PER GESTIRE IL BOTTONE PEL*/

    .totale {
      display: block;
    }

    .show {
      display: block;
    }

    .hide {
      display: none;
    }
